@page
@model Helm_Budget_System.Pages.TravelRateGroups.DetailsModel

@{
    ViewData["Title"] = "Travel Rate Group Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Travel Rate Group Details</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TravelRateGroup.MealPerDiemRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TravelRateGroup.MealPerDiemRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TravelRateGroup.CoachTravelRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TravelRateGroup.CoachTravelRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TravelRateGroup.RecruitTravelRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TravelRateGroup.RecruitTravelRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TravelRateGroup.School.SchoolName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TravelRateGroup.School.SchoolName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TravelRateGroup.ID"><i class="fa-solid fa-edit"></i>&nbsp;Edit</a> |
    <a asp-page="Index"><i class="fa-solid fa-backward"></i>&nbsp;Back</a>
</div>
