@page
@model Helm_Budget_System.Pages.Ticketing.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Ticket Details</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.SchoolID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.SchoolID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.TicketType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.TicketType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.PriceType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.PriceType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.TicketPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.TicketPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.TicketName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.TicketName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Ticket.ID"><i class="fa-solid fa-edit"></i>&nbsp;Edit</a> 
    <a asp-page="Index"><i class="fa-solid fa-backward"></i>&nbsp;Back</a>
</div>
